@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;

}
body{
   
    background: #FAEBD79A;
    overflow: hidden;

}
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.wrapper{
    width: 100%;
    background: rgb(140, 132, 123);
    border-radius: 5px;
}   

.wrapper .title{
    line-height: 90px;
    background: antiquewhite;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #303030;
    font-weight: 600;
}
.wrapper form{
    padding: 30px 25px 25px 25px;
}
.wrapper form .row{
height: 45px;
margin-bottom: 15px;
position: relative;
}

.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: rgb(189, 177, 160);
    box-shadow: inset 0px 0px 2px 2px rgba(144,130,123,0.25);
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: white;
    font-size: 18px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    cursor: pointer;


}
form .button input:hover{
    background: rgb(152, 143, 131);

}