<html lang="tr"> 
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, 
    maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hakk覺mda</title>
    
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/hakkimda.css">
    

    <!-- Slider da kullan覺lan fontlar-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="css/popup.css">

   
    
    
    
    <script src="header.js" defer></script>
  </head>

  <body>
    <!-- Header -->
    <nav>
      <div class="logo">
      <h4>SMT</h4>  
      </div>
      <ul class="nav-links">
        <li>
            <a href="#">Ana Sayfa</a>
        </li>
        <li>
            <a href="#">Hakk覺mda</a>
        </li>
        <li>
            <a href="#">ABQ</a>
        </li>
        <li>  
            <a href="#">Eitim</a>
        </li>
        <li>
            <a href="#">襤letiim</a>
        </li>
       
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2" ></div>
        <div class="line3"></div>
      </div>
    </nav>
   
 
    
   
    
  <!--Hakk覺mda Slide K覺sm覺 -->

    <div class="slideshow">
      <div class="slideshow-item">
        <img src="resimler/marmara.png"  />
        <div class="slideshow-item-text">
          <h5>Merhaba Ben Samet G羹zel !</h5>
          <p>
            2002 y覺l覺nda 襤stanbul'da dodum. Kocaeli'de ya覺yorum ve 繹renciyim.
          </p>
        </div>
      </div>
      <div class="slideshow-item">
        <img src="resimler/Sakarya-universitesi-1.jpg"  />
        <div class="slideshow-item-text">
          <h5>Sakarya niversitesi</h5>
          <p>
            2020 y覺l覺nda Sakarya niversitesi'nde Bilgisayar M羹hendislii
            b繹l羹m羹ne balad覺m ve uan aktif olarak 1. s覺n覺f 繹rencisiyim.
          </p>
        </div>
      </div>

      <div class="slideshow-item">
        <img src="resimler/satran癟.jpg"  />
        <div class="slideshow-item-text">
          <h5>Hobilerim</h5>
          <p>
            Liseye balad覺覺mdan beri gerek okulun kl羹pleri gerekse benim
            merak覺m dolay覺s覺yla satranca merak sald覺m.
          </p>
        </div>
      </div>
      <div class="slideshow-item">
        <img src="resimler/serbest-yuzme-1068x675.jpg"/>
        <div class="slideshow-item-text">
          <h5>Urat覺覺m sporlar</h5>
          <p>
            Ortaokul 癟a覺mda tedavi olarak da balasam 羹niversite s覺nav覺
            zaman覺na kadar urat覺覺m tek spor y羹zme oldu.
          </p>
        </div>
      </div>
      <div class="slideshow-item">
        <img src="resimler/slash.jpeg"/>
        <div class="slideshow-item-text">
          <h5>Slash</h5>
          <p>
            G羹n i癟inde yapmaktan en 癟ok keyif ald覺覺m etkinlik ise k繹peim Slash'i gezdirmek 朮. 
          </p>
        </div>
      </div>
    </div>

  
    
    
    
    

    
   <script src="javascript/popup.js"></script>
    <script src="header.js"></script>
  </body>
</html>
